# Creating a logistic regression to predict absenteeism

## Import the relevant libraries

In [1]:
import pandas as pd
import numpy as np

## Load the data

In [2]:
data_preprocessed = pd.read_csv('Absenteeism_preprocessed.csv')

In [3]:
data_preprocessed.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the Week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,1,1,7,1,289,36,33,239.554,30,0,2,1,4
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0
2,0,0,1,1,7,2,179,51,38,239.554,31,0,0,0,2
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,4
4,0,0,1,1,7,3,289,36,33,239.554,30,0,2,1,2

# Create the targets

In [4]:
data_preprocessed['Absenteeism Time in Hours'].median()

3.0

In [5]:
targets = np.where(data_preprocessed['Absenteeism Time in Hours'] > 
                  data_preprocessed['Absenteeism Time in Hours'].median(), 1, 0)

In [6]:
targets

array([1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0,
       0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0,
       1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0])

In [7]:
data_preprocessed['Excessive Absenteeism'] = targets

In [8]:
data_preprocessed.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the Week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Excessive Absenteeism
0,0,0,1,1,7,1,289,36,33,239.554,30,0,2,1,4,1
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0,0
2,0,0,1,1,7,2,179,51,38,239.554,31,0,0,0,2,0
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,4,1
4,0,0,1,1,7,3,289,36,33,239.554,30,0,2,1,2,0

## A comment on the targets

In [9]:
targets.sum() / targets.shape[0]

0.45571428571428574

In [10]:
data_with_targets = data_preprocessed.drop(['Absenteeism Time in Hours', 'Day of the Week',
                                           'Daily Work Load Average', 'Distance to Work'], axis=1)

In [11]:
data_with_targets is data_preprocessed

False

In [12]:
data_with_targets.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pets,Excessive Absenteeism
0,0,0,1,1,7,289,33,30,0,2,1,1
1,0,0,0,0,7,118,50,31,0,1,0,0
2,0,0,1,1,7,179,38,31,0,0,0,0
3,1,0,0,0,7,279,39,24,0,2,0,1
4,0,0,1,1,7,289,33,30,0,2,1,0

## Select the inputs for the regression

In [13]:
data_with_targets.shape

(700, 12)

In [14]:
data_with_targets.iloc[:,:14]

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pets,Excessive Absenteeism
0,0,0,1,1,7,289,33,30,0,2,1,1
1,0,0,0,0,7,118,50,31,0,1,0,0
2,0,0,1,1,7,179,38,31,0,0,0,0
3,1,0,0,0,7,279,39,24,0,2,0,1
4,0,0,1,1,7,289,33,30,0,2,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,5,179,40,22,1,2,0,1
696,1,0,0,0,5,225,28,24,0,1,2,0
697,1,0,0,0,5,330,28,25,1,0,0,1
698,0,0,1,1,5,235,32,25,1,0,0,0
699,0,0,1,1,5,291,40,25,0,1,1,0

In [15]:
data_with_targets.iloc[:,:-1]

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pets
0,0,0,1,1,7,289,33,30,0,2,1
1,0,0,0,0,7,118,50,31,0,1,0
2,0,0,1,1,7,179,38,31,0,0,0
3,1,0,0,0,7,279,39,24,0,2,0
4,0,0,1,1,7,289,33,30,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,5,179,40,22,1,2,0
696,1,0,0,0,5,225,28,24,0,1,2
697,1,0,0,0,5,330,28,25,1,0,0
698,0,0,1,1,5,235,32,25,1,0,0
699,0,0,1,1,5,291,40,25,0,1,1

In [16]:
unscaled_inputs = data_with_targets.iloc[:,:-1]

## Standardize the data

In [17]:
# from sklearn.preprocessing import StandardScaler

# absenteeism_scaler = StandardScaler()

In [18]:
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.preprocessing import StandardScaler

class CustomScaler (BaseEstimator, TransformerMixin):
    
    def __init__(self, columns, copy=True, with_mean=True, with_std=True):
        self.scaler = StandardScaler(copy=True, with_mean=True, with_std=True)
        self.columns = columns
        self.mean_ = None
        self.var_ = None
        
    def fit(self, X, y=None):
        self.scaler.fit(X[self.columns], y)
        self.mean_ = np.mean(X[self.columns])
        self.var_ = np.var(X[self.columns])
        
    def transform(self, X, y=None, copy=None):
        init_col_order = X.columns
        X_scaled = pd.DataFrame(self.scaler.transform(X[self.columns]), columns=self.columns)
        X_not_scaled = X.loc[:, ~X.columns.isin(self.columns)]
        return pd.concat([X_not_scaled, X_scaled], axis=1)[init_col_order]

In [19]:
unscaled_inputs.columns.values

array(['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Month Value',
       'Transportation Expense', 'Age', 'Body Mass Index', 'Education',
       'Children', 'Pets'], dtype=object)

In [20]:
# columns_to_scale = ['Month Value','Day of the Week', 'Transportation Expense', 'Distance to Work',
#        'Age', 'Daily Work Load Average', 'Body Mass Index','Children', 'Pets']

columns_to_omit =['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4','Education']

In [21]:
columns_to_scale = [x for x in unscaled_inputs.columns.values if x not in columns_to_omit]

In [22]:
absenteeism_scaler = CustomScaler(columns_to_scale)

In [23]:
absenteeism_scaler.fit(unscaled_inputs)

C:\Users\SETYA\anaconda3\envs\py3-TF2.0\lib\site-packages\numpy\core\fromnumeric.py:3438: FutureWarning: In a future version, DataFrame.mean(axis=None) will return a scalar mean over the entire DataFrame. To retain the old behavior, use 'frame.mean(axis=0)' or just 'frame.mean()'
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)

In [24]:
scaled_inputs = absenteeism_scaler.transform(unscaled_inputs)

In [25]:
scaled_inputs

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pets
0,0,0,1,1,0.030796,1.005844,-0.536062,0.767431,0,0.880469,0.268487
1,0,0,0,0,0.030796,-1.574681,2.130803,1.002633,0,-0.019280,-0.589690
2,0,0,1,1,0.030796,-0.654143,0.248310,1.002633,0,-0.919030,-0.589690
3,1,0,0,0,0.030796,0.854936,0.405184,-0.643782,0,0.880469,-0.589690
4,0,0,1,1,0.030796,1.005844,-0.536062,0.767431,0,0.880469,0.268487
...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,-0.568019,-0.654143,0.562059,-1.114186,1,0.880469,-0.589690
696,1,0,0,0,-0.568019,0.040034,-1.320435,-0.643782,0,-0.019280,1.126663
697,1,0,0,0,-0.568019,1.624567,-1.320435,-0.408580,1,-0.919030,-0.589690
698,0,0,1,1,-0.568019,0.190942,-0.692937,-0.408580,1,-0.919030,-0.589690
699,0,0,1,1,-0.568019,1.036026,0.562059,-0.408580,0,-0.019280,0.268487

In [26]:
scaled_inputs.shape

(700, 11)

## Split the data into train & test adn shuffle

### Import the relevant module

In [27]:
from sklearn.model_selection import train_test_split

### Split

In [28]:
train_test_split(scaled_inputs, targets)

[     Reason_1  Reason_2  Reason_3  Reason_4  Month Value  \
 598         0         0         1         1    -1.466241
 634         1         0         0         0    -1.166834
 119         0         0         1         1     0.030796
 239         0         0         1         1     0.330204
 257         1         0         0         0     0.929019
 ..        ...       ...       ...       ...          ...
 335         0         1         0         0     1.228426
 671         0         0         1         0    -0.867426
 481         0         0         1         1     0.030796
 288         1         0         0         0     0.629611
 265         0         0         1         1     0.330204

      Transportation Expense       Age  Body Mass Index  Education  Children  \
 598               -0.654143  0.248310         1.002633          0 -0.919030
 634               -0.654143  0.248310         1.002633          0 -0.919030
 119                0.040034 -1.320435        -0.643782          0 -0.019280
 239               -1.574681  0.091435         0.297027          0 -0.919030
 257                1.171843  1.032682        -0.408580          0  0.880469
 ..                      ...       ...              ...        ...       ...
 335                0.568211 -0.065439        -0.878984          0  2.679969
 671                0.040034 -1.320435        -0.643782          0 -0.019280
 481               -0.654143  0.562059        -1.114186          1  0.880469
 288               -0.654143  0.248310         1.002633          0 -0.919030
 265                0.190942  0.091435         0.532229          1 -0.019280

          Pets
 598 -0.589690
 634 -0.589690
 119  1.126663
 239 -0.589690
 257  0.268487
 ..        ...
 335 -0.589690
 671  1.126663
 481 -0.589690
 288 -0.589690
 265  0.268487

 [525 rows x 11 columns],
      Reason_1  Reason_2  Reason_3  Reason_4  Month Value  \
 365         0         0         1         1    -1.765648
 682         0         0         1         0     1.228426
 390         0         0         1         0     0.030796
 483         0         0         1         1     0.330204
 546         1         0         0         0     1.228426
 ..        ...       ...       ...       ...          ...
 606         1         0         0         0    -1.466241
 66          0         0         1         1     0.929019
 666         0         0         1         1    -0.867426
 171         0         0         1         1    -1.166834
 374         0         0         1         1    -1.466241

      Transportation Expense       Age  Body Mass Index  Education  Children  \
 365                0.190942  1.032682         2.649049          0 -0.019280
 682                1.171843  1.032682        -0.408580          0  0.880469
 390               -1.574681  0.091435         0.297027          0 -0.919030
 483               -1.574681  0.091435         0.297027          0 -0.919030
 546               -1.574681  0.091435         0.297027          0 -0.919030
 ..                      ...       ...              ...        ...       ...
 606               -0.654143  0.248310         1.002633          0 -0.919030
 66                -0.654143  0.248310         1.002633          0 -0.919030
 666               -0.654143 -1.006686        -1.819793          1 -0.919030
 171                0.040034 -1.320435        -0.643782          0 -0.019280
 374               -0.654143  0.248310         1.002633          0 -0.919030

          Pets
 365 -0.589690
 682  0.268487
 390 -0.589690
 483 -0.589690
 546 -0.589690
 ..        ...
 606 -0.589690
 66  -0.589690
 666 -0.589690
 171  1.126663
 374 -0.589690

 [175 rows x 11 columns],
 array([0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0,
        1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1,
        1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1,
        0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1,
        1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1,
        0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0,
        1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
        1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1,
        1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0,
        0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1,
        0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0,
        0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0,
        0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
        1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1,
        1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0,
        1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1,
        0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0,
        0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0,
        1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0,
        0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0,
        1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1,
        1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0,
        1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0]),
 array([1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1,
        0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0,
        1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0,
        1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1,
        1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1,
        1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1,
        1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0,
        1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0])]

In [29]:
x_train, x_test, y_train, y_test = train_test_split(scaled_inputs, targets, train_size = 0.8, random_state = 20 )

In [30]:
print(x_train.shape, y_train.shape)

(560, 11) (560,)

In [31]:
print(x_test.shape, y_test.shape)

(140, 11) (140,)

## Logistic regression with sklearn

In [32]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

### Training the model

In [33]:
reg = LogisticRegression()

In [34]:
reg.fit(x_train, y_train)

LogisticRegression()

In [35]:
reg.score(x_train, y_train)

0.7803571428571429

### Manually check the accuracy

In [36]:
model_outputs = reg.predict(x_train)
model_outputs

array([0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1,
       1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0,
       0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0,
       1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1,
       1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1,
       0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1,
       1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0,
       1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0,
       0, 1, 0, 1, 1, 1, 0, 0, 1, 0])

In [37]:
y_train

array([0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1,
       1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1,
       1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1,
       1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0,
       1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1,
       0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0,
       0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 0, 1, 0])

In [38]:
model_outputs == y_train

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False,  True, False, False,  True,  True,  True,  True,
       False,  True, False,  True, False, False,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
       False, False, False, False,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True,  True,  True, False,  True, False,  True,  True,
        True,  True,  True, False,  True,  True,  True,  True,  True,
       False,  True, False,  True,  True, False, False, False,  True,
        True,  True,  True,  True,  True,  True,  True, False,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True, False,  True,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True, False,
        True, False,  True, False,  True,  True,  True,  True, False,
       False, False,  True,  True, False,  True,  True,  True,  True,
        True, False,  True, False,  True, False,  True, False, False,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True, False,  True, False,
       False,  True,  True,  True,  True,  True,  True,  True, False,
        True, False,  True, False,  True,  True,  True,  True, False,
        True, False, False,  True,  True,  True,  True,  True, False,
       False, False,  True, False,  True,  True,  True, False,  True,
        True,  True,  True,  True,  True,  True, False,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False, False,  True,  True,  True,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True, False, False,
       False,  True,  True,  True,  True, False,  True, False,  True,
        True,  True,  True,  True,  True,  True, False,  True, False,
       False,  True,  True,  True,  True,  True, False,  True,  True,
        True,  True, False, False,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True, False,
       False,  True,  True,  True,  True,  True,  True,  True, False,
        True,  True,  True, False, False,  True,  True,  True, False,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
       False,  True,  True, False,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True, False,  True,  True,  True, False,  True,
        True, False,  True, False,  True,  True,  True, False,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
       False,  True,  True, False,  True, False,  True,  True, False,
        True,  True,  True, False,  True,  True, False,  True, False,
        True,  True,  True,  True,  True, False, False,  True,  True,
        True,  True, False,  True,  True,  True,  True, False,  True,
       False,  True,  True,  True, False, False,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True, False,  True,  True, False, False,  True,  True,
       False,  True,  True,  True,  True,  True,  True, False,  True,
        True,  True, False,  True,  True,  True,  True, False,  True,
        True,  True,  True,  True, False,  True,  True,  True,  True,
        True, False,  True,  True, False, False,  True,  True,  True,
       False,  True,  True,  True,  True,  True, False,  True,  True,
       False, False, False,  True,  True, False,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True, False,  True,  True,  True,  True, False,  True,
        True,  True])

In [39]:
np.sum((model_outputs == y_train))

437

In [40]:
model_outputs.shape[0]

560

In [41]:
np.sum((model_outputs == y_train)) / model_outputs.shape[0]

0.7803571428571429

### Finding the intercept and coefficient

In [42]:
reg.intercept_

array([-1.76102779])

In [43]:
reg.coef_

array([[ 2.9077644 ,  0.99835423,  2.98255644, -1.98161501,  0.01335612,
         0.61643929, -0.16357174,  0.28199038, -0.20419214,  0.36257437,
        -0.26060754]])

In [44]:
unscaled_inputs.columns.values

array(['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Month Value',
       'Transportation Expense', 'Age', 'Body Mass Index', 'Education',
       'Children', 'Pets'], dtype=object)

In [45]:
feature_name = unscaled_inputs.columns.values

In [46]:
summary_table = pd.DataFrame (columns=['Feature name'], data = feature_name)

summary_table['Coefficient'] = np.transpose(reg.coef_)

summary_table

              Feature name  Coefficient
0                 Reason_1     2.907764
1                 Reason_2     0.998354
2                 Reason_3     2.982556
3                 Reason_4    -1.981615
4              Month Value     0.013356
5   Transportation Expense     0.616439
6                      Age    -0.163572
7          Body Mass Index     0.281990
8                Education    -0.204192
9                 Children     0.362574
10                    Pets    -0.260608

In [47]:
summary_table.index = summary_table.index + 1
summary_table.loc[0] = ['Intercept', reg.intercept_[0]]
summary_table = summary_table.sort_index()
summary_table

              Feature name  Coefficient
0                Intercept    -1.761028
1                 Reason_1     2.907764
2                 Reason_2     0.998354
3                 Reason_3     2.982556
4                 Reason_4    -1.981615
5              Month Value     0.013356
6   Transportation Expense     0.616439
7                      Age    -0.163572
8          Body Mass Index     0.281990
9                Education    -0.204192
10                Children     0.362574
11                    Pets    -0.260608

## Interpreting the coeficient

In [48]:
summary_table['Odds_ratio'] = np.exp(summary_table.Coefficient)

In [49]:
summary_table

              Feature name  Coefficient  Odds_ratio
0                Intercept    -1.761028    0.171868
1                 Reason_1     2.907764   18.315806
2                 Reason_2     0.998354    2.713812
3                 Reason_3     2.982556   19.738212
4                 Reason_4    -1.981615    0.137846
5              Month Value     0.013356    1.013446
6   Transportation Expense     0.616439    1.852321
7                      Age    -0.163572    0.849106
8          Body Mass Index     0.281990    1.325766
9                Education    -0.204192    0.815306
10                Children     0.362574    1.437024
11                    Pets    -0.260608    0.770583

In [50]:
summary_table.sort_values('Odds_ratio', ascending=False)

              Feature name  Coefficient  Odds_ratio
3                 Reason_3     2.982556   19.738212
1                 Reason_1     2.907764   18.315806
2                 Reason_2     0.998354    2.713812
6   Transportation Expense     0.616439    1.852321
10                Children     0.362574    1.437024
8          Body Mass Index     0.281990    1.325766
5              Month Value     0.013356    1.013446
7                      Age    -0.163572    0.849106
9                Education    -0.204192    0.815306
11                    Pets    -0.260608    0.770583
0                Intercept    -1.761028    0.171868
4                 Reason_4    -1.981615    0.137846

## Testing the model

In [51]:
reg.score(x_test, y_test)

0.7428571428571429

In [59]:
predicted_proba = reg.predict_proba(x_test)

In [60]:
predicted_proba

array([[0.74806903, 0.25193097],
       [0.59800099, 0.40199901],
       [0.47532   , 0.52468   ],
       [0.75330782, 0.24669218],
       [0.08427582, 0.91572418],
       [0.31206339, 0.68793661],
       [0.30258423, 0.69741577],
       [0.14487882, 0.85512118],
       [0.73128633, 0.26871367],
       [0.75032323, 0.24967677],
       [0.4940836 , 0.5059164 ],
       [0.19162323, 0.80837677],
       [0.0795545 , 0.9204455 ],
       [0.69082774, 0.30917226],
       [0.34348925, 0.65651075],
       [0.51029586, 0.48970414],
       [0.49308403, 0.50691597],
       [0.49808225, 0.50191775],
       [0.35962545, 0.64037455],
       [0.08201075, 0.91798925],
       [0.72813146, 0.27186854],
       [0.75330782, 0.24669218],
       [0.4835769 , 0.5164231 ],
       [0.47958343, 0.52041657],
       [0.27518765, 0.72481235],
       [0.73207141, 0.26792859],
       [0.50189061, 0.49810939],
       [0.86888608, 0.13111392],
       [0.292913  , 0.707087  ],
       [0.75330782, 0.24669218],
       [0.60184019, 0.39815981],
       [0.29117822, 0.70882178],
       [0.30608581, 0.69391419],
       [0.49208452, 0.50791548],
       [0.75330782, 0.24669218],
       [0.39323829, 0.60676171],
       [0.73049978, 0.26950022],
       [0.26753532, 0.73246468],
       [0.54544323, 0.45455677],
       [0.38253619, 0.61746381],
       [0.75405021, 0.24594979],
       [0.50007954, 0.49992046],
       [0.73363722, 0.26636278],
       [0.62764903, 0.37235097],
       [0.19406087, 0.80593913],
       [0.46493066, 0.53506934],
       [0.28406757, 0.71593243],
       [0.75181853, 0.24818147],
       [0.74510009, 0.25489991],
       [0.75479109, 0.24520891],
       [0.49208236, 0.50791764],
       [0.7361659 , 0.2638341 ],
       [0.31206339, 0.68793661],
       [0.74887894, 0.25112106],
       [0.1809862 , 0.8190138 ],
       [0.59607685, 0.40392315],
       [0.11740069, 0.88259931],
       [0.72838581, 0.27161419],
       [0.7130286 , 0.2869714 ],
       [0.71220965, 0.28779035],
       [0.29499384, 0.70500616],
       [0.30949375, 0.69050625],
       [0.72600588, 0.27399412],
       [0.27121751, 0.72878249],
       [0.74188811, 0.25811189],
       [0.74882193, 0.25117807],
       [0.93461969, 0.06538031],
       [0.72971179, 0.27028821],
       [0.28885129, 0.71114871],
       [0.68740092, 0.31259908],
       [0.73519718, 0.26480282],
       [0.71854138, 0.28145862],
       [0.11819635, 0.88180365],
       [0.54742545, 0.45257455],
       [0.39706134, 0.60293866],
       [0.75330782, 0.24669218],
       [0.29208545, 0.70791455],
       [0.24548753, 0.75451247],
       [0.30191944, 0.69808056],
       [0.35595006, 0.64404994],
       [0.73285504, 0.26714496],
       [0.93403754, 0.06596246],
       [0.72120726, 0.27879274],
       [0.28461978, 0.71538022],
       [0.52102981, 0.47897019],
       [0.87024675, 0.12975325],
       [0.3086398 , 0.6913602 ],
       [0.47958343, 0.52041657],
       [0.80124364, 0.19875636],
       [0.29117822, 0.70882178],
       [0.78923405, 0.21076595],
       [0.86213169, 0.13786831],
       [0.74655876, 0.25344124],
       [0.74731464, 0.25268536],
       [0.75032323, 0.24967677],
       [0.13201432, 0.86798568],
       [0.74655876, 0.25344124],
       [0.27760657, 0.72239343],
       [0.74812616, 0.25187384],
       [0.78521518, 0.21478482],
       [0.39514821, 0.60485179],
       [0.29117822, 0.70882178],
       [0.3061502 , 0.6938498 ],
       [0.29085263, 0.70914737],
       [0.54643452, 0.45356548],
       [0.55336282, 0.44663718],
       [0.74806903, 0.25193097],
       [0.13201432, 0.86798568],
       [0.23639061, 0.76360939],
       [0.86260632, 0.13739368],
       [0.93452859, 0.06547141],
       [0.09041716, 0.90958284],
       [0.41905918, 0.58094082],
       [0.60471141, 0.39528859],
       [0.39610438, 0.60389562],
       [0.38632144, 0.61367856],
       [0.26675242, 0.73324758],
       [0.15491579, 0.84508421],
       [0.43897161, 0.56102839],
       [0.72892235, 0.27107765],
       [0.74957333, 0.25042667],
       [0.86705302, 0.13294698],
       [0.19224344, 0.80775656],
       [0.50307869, 0.49692131],
       [0.75032323, 0.24967677],
       [0.68911693, 0.31088307],
       [0.75405021, 0.24594979],
       [0.86117831, 0.13882169],
       [0.30778716, 0.69221284],
       [0.72813146, 0.27186854],
       [0.38159208, 0.61840792],
       [0.75405021, 0.24594979],
       [0.75181853, 0.24818147],
       [0.68308845, 0.31691155],
       [0.72520969, 0.27479031],
       [0.40378176, 0.59621824],
       [0.49208452, 0.50791548],
       [0.68654099, 0.31345901],
       [0.74812616, 0.25187384],
       [0.54445158, 0.45554842]])

In [63]:
predicted_proba.shape

(140, 2)

In [64]:
predicted_proba[:,1]

array([0.25193097, 0.40199901, 0.52468   , 0.24669218, 0.91572418,
       0.68793661, 0.69741577, 0.85512118, 0.26871367, 0.24967677,
       0.5059164 , 0.80837677, 0.9204455 , 0.30917226, 0.65651075,
       0.48970414, 0.50691597, 0.50191775, 0.64037455, 0.91798925,
       0.27186854, 0.24669218, 0.5164231 , 0.52041657, 0.72481235,
       0.26792859, 0.49810939, 0.13111392, 0.707087  , 0.24669218,
       0.39815981, 0.70882178, 0.69391419, 0.50791548, 0.24669218,
       0.60676171, 0.26950022, 0.73246468, 0.45455677, 0.61746381,
       0.24594979, 0.49992046, 0.26636278, 0.37235097, 0.80593913,
       0.53506934, 0.71593243, 0.24818147, 0.25489991, 0.24520891,
       0.50791764, 0.2638341 , 0.68793661, 0.25112106, 0.8190138 ,
       0.40392315, 0.88259931, 0.27161419, 0.2869714 , 0.28779035,
       0.70500616, 0.69050625, 0.27399412, 0.72878249, 0.25811189,
       0.25117807, 0.06538031, 0.27028821, 0.71114871, 0.31259908,
       0.26480282, 0.28145862, 0.88180365, 0.45257455, 0.60293866,
       0.24669218, 0.70791455, 0.75451247, 0.69808056, 0.64404994,
       0.26714496, 0.06596246, 0.27879274, 0.71538022, 0.47897019,
       0.12975325, 0.6913602 , 0.52041657, 0.19875636, 0.70882178,
       0.21076595, 0.13786831, 0.25344124, 0.25268536, 0.24967677,
       0.86798568, 0.25344124, 0.72239343, 0.25187384, 0.21478482,
       0.60485179, 0.70882178, 0.6938498 , 0.70914737, 0.45356548,
       0.44663718, 0.25193097, 0.86798568, 0.76360939, 0.13739368,
       0.06547141, 0.90958284, 0.58094082, 0.39528859, 0.60389562,
       0.61367856, 0.73324758, 0.84508421, 0.56102839, 0.27107765,
       0.25042667, 0.13294698, 0.80775656, 0.49692131, 0.24967677,
       0.31088307, 0.24594979, 0.13882169, 0.69221284, 0.27186854,
       0.61840792, 0.24594979, 0.24818147, 0.31691155, 0.27479031,
       0.59621824, 0.50791548, 0.31345901, 0.25187384, 0.45554842])

## Save the model

In [65]:
import pickle

In [66]:
with open('model', 'wb') as file:
    pickle.dump(reg, file)

In [67]:
with open('scaler','wb') as file:
    pickle.dump(absenteeism_scaler, file)